<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" style="" href="#"><font style="font-face: 'Pacman', sans-serif" size="6" color="black">Менеджер
            рассылок</font></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="color: #FFE808;"><font size="6">Меню</font>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 pe-3 d-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white; text-align: center;"><font size="4">Главная</font></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" style="color: white; text-align: center;">
                            <font size="4">Управление рассылками</font>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-center">
                            <li><a class="dropdown-item" href="{% url 'mailing:mailing_list' %}" style="color: white; text-align: center;">Рассылки</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'mailing:recipients_list' %}" style="color: white; text-align: center;">Клиенты</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'mailing:message_list' %}" style="color: white; text-align: center;">Сообщения</a></li>
                        </ul>
                    </li>
                    {% if perms.user.can_list_user_view %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:user_list' %}" style="color: white; text-align: center;"><font
                                size="4">Пользователи</font></a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex flex-column w-100 border-top border-secondary pt-3 mt-3">
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light mb-2">Выйти</button>
                    </form>
                    {% else %}
                    <a href="{% url 'users:login' %}" class="btn btn-outline-light mb-2">Войти</a>
                    <a href="{% url 'users:register' %}" class="btn btn-outline-light">Регистрация</a>
                    <a href="{% url 'users:reset_password' %}">Забыл пароль</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
<div style="padding-top: 30px;">
    {% block content %}{% endblock %}
</div>
<link rel="stylesheet" href="/static/css/style.css" />
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>