{% extends 'mailing/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
{% include 'mailing/header.html' %}
<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-8">
        {% if perms.user.can_list_user_view %}
        <h2>Пользователи сервиса</h2>
        {% if users %}
        {% for user in users %}
        <a href="{% url 'users:user_details' user.pk %}">{{ user.email }}</a>
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}